* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #293264;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question-container {
  border-bottom: 0.794239px solid #dbdef0;
}
.question {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  margin: 11.98px 0px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options p {
  min-width: 65.92px;
  max-width: 250px;
  min-height: 20.65px;
  border-radius: 7.94239px;
  border: 1px solid #293264;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 30px;
  cursor: pointer;
  margin-top: 11.98px;
}

button {
  margin: 20px;
  background-color: #4d5b9e;
  border: none;
  color: white;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.answer {
  background: #d6dbf5;
}

.correct {
  background: #94d7a2;
}
.wrong {
  background: #f8bcbc;
}
